<head itemscope itemtype="{{ .Site.BaseURL }}">
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  {{ partial "meta" . }}

  {{ partial "links" . }}

  {{ with site.Params.googleAnalytics }}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', '{{ . }}');
    </script>
  {{ end }}
</head>
